name: sync-btnews-mp
on:
  workflow_dispatch:
    inputs:
      bvid:
        description: "Bilibili bvid"
        default: ""
        required: false
      ytid:
        description: "youtube video id"
        default: ""
        required: false
      url:
        description: "specific url to fetch"
        default: ""
        required: false
      overwrute:
        description: "overwrite"
        default: ""
        required: false
      title:
        description: "rewrite title"
        default: ""
        required: false
      path:
        description: "rewrite storage path and filename"
        default: ""
        required: false
  schedule:
    - cron: '0 14 * * *'
jobs:
  fetch:
    environment: dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.5.0
      - name: install dependencies
        run: deno install
      - name: setup env to .env
        run: |
          touch .env
          echo "S3_ENDPOINT=${{ secrets.S3_ENDPOINT }}" >> .env
          echo "S3_BUCKET=${{ secrets.S3_BUCKET }}" >> .env
          echo "S3_REGION=${{ secrets.S3_REGION }}" >> .env
          echo "S3_ACCESS_KEY_ID=${{ secrets.S3_ACCESS_KEY_ID }}" >> .env
          echo "S3_SECRET_ACCESS_KEY=${{ secrets.S3_SECRET_ACCESS_KEY }}" >> .env
          echo "S3_RESOURCE_URL=${{ secrets.S3_RESOURCE_URL }}" >> .env
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> .env
          cat .env
      - name: run script
        id: fetch
        run: deno task try-sync-latest-mp-content --bv=${{ github.event.inputs.bvid }} --yt=${{ github.event.inputs.ytid }} --url=${{ github.event.inputs.url }} --title ${{ github.event.inputs.title }} --path=${{ github.event.inputs.path }} --overwrite=${{ github.event.inputs.overwrite }}